# Expanded templates

*_dbl.[ch]
*_mpf.[ch]
*_mpq.[ch]

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Binaries (no extension)
/esolver/esolver
/tests/eg_sloan
/tests/test_qs

# Documentation

/ESolver_Doxygen_Tags
/doc/

# Build directory

/build/

# http://www.gnu.org/software/automake

.deps
.dirstamp
Makefile
Makefile.in

/test-driver

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/*.m4
/missing
/stamp-h1
/config.guess
/config.h*
/config.log
/config.status
/config.sub

# http://www.gnu.org/software/libtool

/libtool
