Source: qsopt-ex
Priority: optional
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders:
	Jon Lund Steffensen <jonlst@gmail.com>,
	Afif Elghraoui <afif@ghraoui.name>,
Build-Depends:
	debhelper (>= 9),
	dh-autoreconf,
	autotools-dev,
	libgmp-dev
Standards-Version: 3.9.6
Section: libs
Homepage: http://www.dii.uchile.cl/~daespino/ESolver_doc/main.html
Vcs-Git: git://git.debian.org/debian-med/qsopt-ex.git
Vcs-Browser: http://git.debian.org/cgit/debian-med/qsopt-ex.git

Package: qsopt-ex-dev
Section: libdevel
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	qsopt-ex2 (= ${binary:Version})
Description: Exact linear programming solver
 This is a fork of QSopt_ex, originally released by Daniel
 Espinoza et al. version 2.5.10 under the GPL 3 (or later).
 The goal of this fork is to update the software, and in particular the
 build system, to be more friendly. In addition the external
 dependencies have been reduced by removing the dependency on EGlib,
 GNU awk and Exuberant Ctags.
 . 
 This package contains the development files.

Package: qsopt-ex-esolver
Section: math
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	qsopt-ex2 (= ${binary:Version})
Description: Exact linear programming solver
 This is a fork of QSopt_ex, originally released by Daniel
 Espinoza et al. version 2.5.10 under the GPL 3 (or later).
 The goal of this fork is to update the software, and in particular the
 build system, to be more friendly. In addition the external
 dependencies have been reduced by removing the dependency on EGlib,
 GNU awk and Exuberant Ctags.
 . 
 This package contains the esolver program.

Package: qsopt-ex2
Section: libs
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends}
Description: Exact linear programming solver
 This is a fork of QSopt_ex, originally released by Daniel
 Espinoza et al. version 2.5.10 under the GPL 3 (or later).
 The goal of this fork is to update the software, and in particular the
 build system, to be more friendly. In addition the external
 dependencies have been reduced by removing the dependency on EGlib,
 GNU awk and Exuberant Ctags.
 .
 This package contains the main library.
